body{
  background-image : url("http://www.cgarchitect.com/content/portfolioitems/2015/11/119538/Website_A_v2_large.jpg");
  background-attachment: fixed;
  background-repeat: no repeat;
  background-position: center;
  background-size: cover;
  }

.title{
  text-align: right;
  margin-right: 5%;
  font-size: 350%;
}

.container-fluid2{
  padding-top: 2%;
  text-align: center;
}

.typewrite{
  font-size: 160%;
}

.logpg2{
  border : solid Indigo;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 3%;
  margin-bottom: 5%;
}

a{
  color: green;
}

p{
  font-size: 120%;
  font-weight: bold;
  font-style: italic;
}
/*img.logo{
  border-radius: 50%;
  width:15%;
  height:17%; 
}*/

.form{
   text-align : centre;
  font-size: 150%;
}

.required:after{
  content: " *";
  color: red;
  font-size: 180%;
}
.required1:after{
  content: " *";
  opacity: 0;
  font-size: 180%;
}

button {
    color: white;
    width: 20%;
}

button:hover {
    opacity: 0.8;
}

input[type = text], input[type = password]{
      width: 40%;
    padding:  1% 2%;
    /*margin: 8px 0;*/
    display: inline-block;
    border: 2px solid black;
   border-radius: 5%;

    /*box-sizing: border-box;*/
}

label{
  font-size: 120%;
}

.btn{
  font-size: 120%;
}